```html
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nutrition</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/registro-usuarios-spring-security/src/main/resources/static/Css/alimentacion.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>



<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Build your body</a>
        

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Build your body</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a th:href="@{/Inicio}" class="nav-link active" aria-current="page" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#who we are">Who are we?</a>
                    </li>

                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>

                <span class="en">English</span>
                <input type="checkbox" class="check">
                <span class="es">Spanish</span>

            </div>


        </div>
    </div>
</nav>



<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide mt-5 pt-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../imagenes/chatarra.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Take care of your nutrition</h5>
                <p>It is our responsibility to take care of our bodies by eating healthy.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../imagenes/saludable2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Strengthen your body</h5>
                <p>Nutrition is as important as exercise.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../imagenes/comer-bien.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Good nutrition</h5>
                <p>To improve your body, you need to know how to nourish it.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Cards -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../imagenes/dieta-saludable.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eat well</h5>
                    <p class="card-text">Take care of what you eat and prepare your diet depending on what you need.</p>
                    <a href="https://www.youtube.com/results?search_query=deficid+calorico+%2C+volumen+alimentacios" target="_blank" class="btn btn-primary">Prepare your diet</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../imagenes/come mejor.jpg" target="_blank" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Learn about what you eat</h5>
                    <p class="card-text">It is very important to know what to eat and what not to eat, apart from knowing why it is good or bad to do so.</p>
                    <a href="https://www.youtube.com/results?search_query=aprende+lo+que+comes+" class="btn btn-primary">Find out what you should eat</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../imagenes/Articulo-alimentacion-para-niños.jpg" target="_blank" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Take care of yourself and those you love</h5>
                    <p class="card-text">This is a brief description of the card.</p>
                    <a href="https://www.youtube.com/results?search_query=dietas+para+bajar+de+peso+desayuno+almuerzo+y+cena" class="btn btn-primary">Prepare your meals</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-dark text-center text-white mt-5">
    <div class="items" id="who we are">
        <h2>Who are we?</h2>
        <h5>  A website dedicated to providing information on exercise is an invaluable tool for those looking to improve their health and well-being. It offers access to a variety of resources, such as exercise routines, training tips,
            instructional videos, and personalized guides. This platform allows users to learn new techniques,
            find motivation, and set fitness goals, all from the comfort of their home. Additionally,
            it can help people stay active, prevent sedentary-related diseases, and improve their overall quality of life.
        </h5>


        <div class="text-center p-3 bg-dark">
            <a th:href="@{/Inicio}" ><button><h2>BACK</h2></button></a>
        </div>
        <div class="internacionalizar">
            <a th:href="@{/alimentacion}" class="btn"><button>Spanish</button></a>
        </div>
    </div>
</footer>x

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="/registro-usuarios-spring-security/src/main/resources/static/js/internacional.js"></script>
</body>
</html>
```