<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/resgister.css">
</head>
<body>
<div class="container-form login">
    <div class="information">
        <div class="info-childs">
            <h2>bienvenido nuevamente</h2>
            <P>o registrate para ser parte de nuestra comunidad</P>
            <a th:href="@{/registro}"><input type="button" value="registrarse" id="registrarse"></a>
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>iniciar sesion</h2>

            <p>inicia sesion</p>
            <form class="form" th:action="@{/login}" method="post">
                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" placeholder="correo electronico" id="username"  name="username" class="form-control"
                           required autofocus="autofocus">
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" placeholder="contraseña" id="password" name="password" class="form-control" required
                           autofocus="autofocus">
                </label>
                <div th:if=${param.error}>
                    <div class="alert alert-danger">Usuario o contraseña
                        inválidos</div>
                </div>
                <input type="submit" value="iniciar sesion" >
            </form>
        </div>
    </div>
</div>
</body>
</html>