<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/resgister.css">

</head>
<body>
<div class="container-form register">
    <div class="information">
        <div class="info-childs">
            <h2>bienvenido</h2>
            <P>si ya haces parte de nuestra comunidad inica sesion</P>
            <a th:href="@{/login}"><input type="button" value="iniciar sesion" id="iniciar"></a>
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>crear una cuenta</h2>
            <p>registrate</p>
            <form class="form" th:action="@{/registro}" method="post" th:object="${usuario}">


                <label>
                    <i class='bx bx-user'></i>
                    <input type="text" placeholder="nombre" id="nombre" class="form-control" th:field="*{nombre}"
                           required autofocus="autofocus">
                </label>
                <label>
                    <i class='bx bx-user'></i>
                    <input type="text" placeholder="apellido" id="apellido" class="form-control" th:field="*{apellido}"
                           required autofocus="autofocus">
                </label>
                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" placeholder="correo electronico" id="email" class="form-control" th:field="*{email}"
                           required autofocus="autofocus">
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" placeholder="contraseña" id="password" class="form-control" th:field="*{password}"
                           required autofocus="autofocus">
                </label>

                <input type="submit" value="registrarse">
            </form>
        </div>
    </div>
</div>
</body>
</html>